html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "CircularAir-Book", sans-serif;
  color: #383838;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #383838;
}

@media only screen and (max-width: 1200px) {
  .hidden-md {
    display: none !important;
  }
}

h2 {
  font-size: 32px;
  line-height: 34px;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .hidden-sm {
    display: none !important;
  }
}
