.CalendarDay_container {
  border: 1px solid #d5d5d5;
  color: #383838;
}
.CalendarDay__blocked_calendar {
  background: transparent;
  border: 1px solid #d5d5d5;
  color: #cbcbcb;
}
.CalendarReactNavigation_svg__horizontal {
  fill: #767676;
}
.CalendarReactNavigation_button__default {
  border: 1px solid rgba(118, 118, 118, 0.3);
}
.CalendarMonth_table {
  margin-top: 4px;
}
.CalendarReact_weekHeader {
  color: #636363;
}
.CalendarReact__horizontal {
  box-shadow: none;
}
